{%extends 'products/base.html'%}
{%load static%}
{%load carts_tag%}

{%block title%}
    {{title}}
{%endblock%}

{%block content%}
<div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
    <div class="container">
        <h3 class="text-center mb-4">Выбранные товары</h3>
        <div class="container" id="cart-items-container">
            {%user_carts request as carts%}
            {%include 'carts/includes/included_cart.html'%}
            <!-- Закончилась разметка корзины -->
        </div>
    </div>
    <!-- Детали заказа -->
    <div class="container">
        <h3 class="text-center">Детали заказа</h3>
        <div class="card mb-3">
            <div class="card-body">
                <form action="{%url 'all_orders:create_order'%}" method="post">
                     {%csrf_token%}
                    {%for item in form%}
                            <div class="col-md-6 mb-3">
                                <label for="{{item.id_for_label}}" class="form-label">{{item.label}}</label>
                                {{item}}
                            </div>
                            {%if item.errors%}
                                <div class="alert alert-danger alert-dismissible fade show custom-shadow" role="alert">{{item.errors}}</div>
                            {%endif%}
                    {%endfor%} 
                    <button type="submit" class="btn btn-dark">Оформить заказ</button>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}
